.icon {
  height: 2rem;
  cursor: pointer;
  font-size: 2rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  background-color: none;
  transition: background-color 1s;

  z-index: 100;
}

.nav h1 {
  color: red;
  cursor: pointer;
  font-size: 2rem;
}
.link {
  text-decoration: none;
}
.navScroll {
  background-color: black;
  transition: background-color 1s;
}
